# Dependencies
node_modules/
**/vendor/

# Build
backend/server
contracts/cache/
contracts/artifacts/
frontend/build/
frontend/.dart_tool/

# Env & secrets
.env
*.pem

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Flutter
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock

# Go
backend/go.sum
